{% extends 'blog/base.html' %}

{% block post %}
<div class="row separator"></div>
<div class="row post-body">
    
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p>{{ post.text|linebreaks }}</p>
    <p>published: {{ post.published_date }}, author: {{ post.author }}</p>
    {% if user.is_authenticated %}
    <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    {% endif %}

</div>
<br>
{% endblock %}