body {
	font-family: 'Lobster';
	background-color: #1c1c1c;
	color: #c1c1c1;
}

a, a:focus, a:hover {
	color: #e1e1e1;
	text-decoration: none;
}

.blog-title {
	background-color: #e21824;
	color: #1d1d1d;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*text-shadow: 2px 2px #1e1e1e;*/
}

.blog-title h2 a {
	color: white;
	text-shadow: 2px black;
	font-family: 'Lobster';
	text-decoration: none;
}

.post-body {
	background-color: #262626;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.separator {
	padding-top: 10px;
	background-color: #1c1c1c
}

h2 {
	margin-top: 0px;
}