html, body {
	overflow-x: hidden;
}

body {
	font-family: 'Lobster';
	background-color: #1c1c1c;
	color: #c1c1c1;
}

a, a:focus, a:hover {
	color: #e1e1e1;
	text-decoration: none;
}

.blog-title {
	background-color: #e21824;
	color: #1d1d1d;
	padding-top: 20px;
	padding-bottom: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	/*text-shadow: 2px 2px #1e1e1e;*/
}

.blog-title h2 a {
	color: white;
	text-shadow: 2px black;
	font-family: 'Lobster';
	text-decoration: none;
}

.post-body {
	margin-bottom: 10px;
	color: #212121;
	background-color: #f1c40f;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.separator {
	padding-top: 10px;
	background-color: #1c1c1c
}

h2 {
	margin-top: 0px;
}

.glyphicon-remove {
	color: #1d1d1d;
	float: right;
}

.glyphicon-bell {
	background-color: white;
	float: left;
	font-size: 20px;
	word-spacing: 5px;
}

.pin {
	width: 18%;
    height: 18%;
    float: left;
    margin-left: -15px;
    margin-top: -10px;
}

.center-block {
	float: none
}

.app1 {
	background-color: #f1c40f;
	color: black;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	margin-bottom: 5px;
}

.app1 img {
	display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%;
}

.app2 {
	background-color: #16a085;
	color: black;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 20px;
	margin-bottom: 5px;
}

.app2 img {
	display: block;
    margin: 0 auto;
    width: 50%;
    height: 50%
}